/* index page */


.card {
    transition: 0.3s;
}

.card:hover {
    transform: rotate(-3deg) scale(1.03);
    background-color: #6F4E37;
    color: white;
}

        
        #menu{
    background: #F8F4EF;
    padding:80px 0;
}
.navbar .nav-link.active {
    color: #C08A5A !important;
    font-weight: bold;
}
.mt-2 h2 {
    font-family: "Brush Script MT", "Segoe Script", cursive;
    color: #6F4E37;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
 .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#menu h2,
.mt-4 h1 {
    font-family: "Brush Script MT", "Segoe Script", cursive;
    color:#6F4E37 !important;
    font-size: 48px;
    font-weight: bold;
}
.service-item {
    color: #6F4E37 !important;
    background-color: #F8F4EF !important;
    border: 1px solid #D8C2AE !important;
    font-weight: 600;
    padding: 15px;
}

.service-item:hover {
    background-color: #6F4E37 !important;
    color: white !important;
}